<?xml version='1.0'?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find floribot_simulation)/urdf/Floribot_reduced.urdf.xacro"/>
  <!--arg name="model" default="$(find floribot_simulation)/urdf/Floribot_reduced_with_cam.urdf.xacro"/-->
  <arg name="rvizconfig" default="$(find floribot_simulation)/rviz/urdf.rviz" />
  <arg name="world_path" default="$(find virtual_maize_field)/worlds/"/>
  <arg name="world_name" default="generated.world"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(arg world_path)$(arg world_name)" />
  </include>
  
  <!-- Include Laserscanners -->
  <!-- <include file="$(find sick_scan)/launch/sick_tim_5xx.launch"></include> -->
  <!-- Include RealSense Cameras -->
  <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch"></include> -->
  <!-- Include Base Node -->
  <include file="$(find base)/launch/base_node.launch"></include>
  <!-- Include Wheel Speed Publisher from Ros to Gazebo -->
  <include file="$(find base2gazebo)/launch/base2gazebo.launch"></include>
  <!-- Include Path Planner -->
  <!--include file="$(find maize_navigation)/launch/maize_navigation.launch"></include-->
  <rosparam file="$(find floribot_simulation)/config/joints.yaml" command="load"/> 
  
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- Open Simulation in rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->

  <!-- Init Controllers-->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" args="gazebo/joint_state_controller gazebo/joint_fl_controller gazebo/joint_fr_controller gazebo/joint_rl_controller gazebo/joint_rr_controller gazebo/body_angle_controller" />

      <!-- Include Robot Spawner ##### Muss hinter Controller Spawner stehen ########-->
  <include file="$(find virtual_maize_field)/launch/robot_spawner.launch">
    <arg name="robot_name" value="floribot"/>
    <arg name="initial_joint_pose" value="-J j_revolute_front_rear -1.57" />
  </include>
  
</launch>
