<?xml version='1.0'?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find floribot_simulation)/urdf/Floribot_reduced.urdf.xacro"/>
  <!--arg name="model" default="$(find floribot_simulation)/urdf/Floribot_reduced_with_cam.urdf.xacro"/-->
  <arg name="rvizconfig" default="$(find floribot_simulation)/rviz/urdf.rviz" />
  <arg name="world_path" default="$(find virtual_maize_field)/worlds/"/>
  <arg name="world_name" default="generated.world"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
 
  <!-- Include Laserscanners -->
  <!-- <include file="$(find sick_scan)/launch/sick_tim_5xx.launch"></include> -->
  
  <!-- Include RealSense Cameras -->
  <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch"></include> -->
  
  <!-- Include scan_tools -->
  <!--include file="$(find scan_tools)/launch/scan2cart.launch"></include-->
  <!--include file="$(find scan_tools)/launch/cart_merger.launch"></include-->
  
  <!-- Include visu -->
  <!--include file="$(find visu)/launch/rviz_visu.launch"></include-->
  
  <!-- Include navigation -->
  <!--include file="$(find maize_navigation)/launch/maize_navigation.launch"></include-->

  
  <!--load FLORIBOT_PARAMETER-->
  <!--rosparam file="$(find floribot_simulation)/config/joints.yaml" command="load"/--> 
  <rosparam file="$(find floribot_simulation)/launch/floribot_parameter.yaml"/>
 

  <!-- Open Simulation in rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />


  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->

</launch>
